# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Juan Pampin
email: juan@pampin.org
description: >- # this means to ignore newlines until "baseurl:"
  This site documents Juan Pampin's works
baseurl: "/juan-works" # the subpath of your site, e.g. /blog
url: "https://pampin.github.io" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
github_username:  pampin

# Build settings
# theme: minima
# theme: jekyll-theme-minimal

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-asciidoc
  - jekyll-gist
  - jekyll-paginate

# remote_theme: benbalter/retlab
remote_theme: ../../feeling-responsive

# the following stuff comes from feeling-responsible's font matter

# This is for the editing function in _/includes/improve_content
# Leave it empty if your site is not on GitHub/GitHub Pages
improve_content: https://github.com/Phlow/feeling-responsive/edit/gh-pages

# This URL points directly to the images directory making
# things easier to link to images in posts and templates. It needs a slash at the end.
#
# Example: <img src="{{ site.urlimg }}{{ post.image.title }}" />
# Markdown-Example for posts ![Image Text]({{ site.urlimg }}image.jpg)
#
urlimg: 'https://phlow.github.io/feeling-responsive/images/'

# Pagination
paginate: 5                      # Paginates all X entries
paginate_path: "blog/page:num"   # Pagination path › Important for blog page in /blog/ to work

# Theme works best with Kramdown (using the table of contents function)
markdown           : kramdown
permalink          : /:categories/:title/
highlight          : rouge
excerpt_separator  : "<!--more-->"
include            : ['.htaccess']

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Exclude these files from your production _site
exclude:
  - .sass-cache
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - INSTALL.md
  - vendor

# The language setting is used in /includes/header.html for html-settings
language: 'en'

# Used › default.html front-matter and compress.html
# Options › http://jch.penibelst.de
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  endings: all
  profile: false
  ignore:
    envs: [development]

# Default Settings
defaults:
  -
    scope:
      path: '' 				# an empty string here means all files in the project
      type: 'pages'
    values:
      show_meta: false 	# Hide metadata for all pages
      # sidebar:    		# Possible values › left, right › by default there will be no sidebar
      comments: false
      author: phlow     # Default author for pages
  -
    scope:
      path: ''
      type: 'posts'
    values:
      show_meta: true   # Show metadata for all posts
      # sidebar:        # Possible values › left, right › by default there will be no sidebar
      comments: false
      author: phlow     # Default author for posts

# Verify Website to Webmaster Tools
google_site_verification        : 'Vk0IOJ2jwG_qEoG7fuEXYqv0m2rLa8P778Fi_GrsgEQ'
bing_webmastertools_id          : '0FB4C028ABCF07C908C54386ABD2D97F'
# yandex_site_verification      : ''
# alexa_verify_id               : ''

# Favicon-Crap: Favicons, Chrome, Android & Apple Touch Buttons
# More information » https://mathiasbynens.be/notes/touch-icons
favicon-32x32                        : 'favicon-32x32.png'
touch-icon-192x192                   : 'touch-icon-192x192.png'
apple-touch-icon-180x180-precomposed : 'apple-touch-icon-180x180-precomposed.png'
apple-touch-icon-152x152-precomposed : 'apple-touch-icon-152x152-precomposed.png'
apple-touch-icon-144x144-precomposed : 'apple-touch-icon-144x144-precomposed.png'
apple-touch-icon-120x120-precomposed : 'apple-touch-icon-120x120-precomposed.png'
apple-touch-icon-114x114-precomposed : 'apple-touch-icon-114x114-precomposed.png'
apple-touch-icon-76x76-precomposed   : 'apple-touch-icon-76x76-precomposed.png'
apple-touch-icon-72x72-precomposed   : 'apple-touch-icon-72x72-precomposed.png'
apple-touch-icon-precomposed         : 'apple-touch-icon-precomposed.png'
msapplication_tileimage              : 'msapplication_tileimage.png'               # Size 144x144
msapplication_tilecolor              : '#fabb00'

sass:
  sass_dir : _sass
  style    : :compressed

asciidoctor-enabled: false
asciidoctor:
  description: 
  attributes:
    source-highlighter: coderay
    coderay-css: style
    icons: font
